@charset "UTF-8";

@media screen and (max-width:900px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botoes{
        display: block;
    }

    .botao {
        margin-top: 5px;
        width: 200px;
        height: 60px;
    }
    .filme-principal{
        background-position: center;
    }

    div.owl-dots{
        display: none;
    }
}

@media screen and (max-width:420px) {
    header> div.container > nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .filme-principal{
        background-position: bottom;
    }
}

@media screen and (min-width:1000px){
    .descricao {
        width: 50%;
    }
}